<ion-view title="Find Housing" hide-nav-bar="true">
  <ion-content padding="false" class=" manual-remove-top-padding" scroll="false">
<div class="spacer" style="height: 30px;"></div>
        <a ui-sref="tabsController.compass()" id="iJustArrived-button28" class="button button-dark button-large button-clear icon-left ion-ios-arrow-back addPadding">Back</a>
    <div class="spacer" style="height: 100px;"></div>
    <h3 style="color:#000000;text-align:center;">Check Application Status</h3>
    <div class="spacer" style="height: 15px;"></div>
    <div style="text-align:center;" class="show-list-numbers-and-dots addPadding">
      <p style="color:#272727;font-size:18px;">Below are links to the Canadian Government (CIC) website</p>
    </div>
    <div class="spacer" style="height: 15px;"></div>
    <button ng-click="checkRefugee()" class="button button-calm button-large button-full icon-right ion-android-arrow-forward">Refugees</button>
    <button ng-click="checkWork()" class="button button-energized button-large button-full icon-right ion-android-arrow-forward">Work Permit</button>
    <button ng-click="checkStudy()" style="color:#345167;" class="button button-balanced button-large button-full icon-right ion-android-arrow-forward">Study Permit</button>
  </ion-content>
</ion-view>

