<ion-view title="Find Housing" hide-nav-bar="true">
  <ion-content padding="false" class=" manual-remove-top-padding" scroll="false">
    <ion-slides disable-side-menu-drag="" options="sliderOptions" slider="slider6" delegate-handle="slider6" style="width:100%;height:100%;">
  <ion-slide-page style="background-color:#F6F6F6;">
<div class="spacer" style="height: 30px;"></div>
        <a ui-sref="tabsController.compass()" id="iJustArrived-button28" class="button button-dark button-large button-clear icon-left ion-ios-arrow-back addPadding">Back</a>
        <div class="spacer" style="height: 30px;"></div>
            <h3 style="color:#272727;text-align:center;">Finding Housing</h3>
    <div class="spacer" style="height: 30px;"></div>
    <div class="show-list-numbers-and-dots addPadding">
      <blockquote>
        <p style="color:#272727;font-size:16px;">In this module, we will be helping you find housing using a free website application called Kiiji.</p>
        <p style="color:#272727;font-size:16px;">In Canada, your credit history is going to determine whether you can sign a lease.
          <strong>You should start building your credit as soon as possible.</strong>
        </p>
      </blockquote>
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <button ng-click="setSlider(1)" class="button button-calm button-small button-full button-clear">Next &gt;</button>
  </ion-slide-page>
  <ion-slide-page style="background-color:#F37F81;">
  <div class="spacer" style="height: 30px;"></div>
        <a ng-click="setSlider(0)" id="iJustArrived-button28" class="button button-large button-clear icon-left ion-ios-arrow-back addPadding" style="color:#ffffff">Back</a>
        <div class="spacer" style="height: 30px;"></div>
    <h3 style="color:#FFFFFF;" class="addPadding">How many bedrooms do you need?</h3>
    <div class="spacer" style="height: 30px;"></div>
    <form class="list">
      <label class="item item-input">
        <input type="tel" placeholder="# of Bedrooms" ng-model="data.bedrooms">
      </label>
      <div class="spacer" style="height: 30px;"></div>
    </form>
    <button ng-click="setSlider(2)" style="color:#FFFFFF;" class="button button-light button-small button-full button-clear">Next &gt;</button>
    <!-- <button ng-click="setSlider(0)" style="color:#FFFFFF;" class="button button-light button-small button-full button-clear">&lt; Back</button> -->
  </ion-slide-page>
  <ion-slide-page style="background-color:#98CDCD;">
    <div class="spacer" style="height: 30px;"></div>
        <a ng-click="setSlider(1)" id="iJustArrived-button28" class="button button-large button-clear icon-left ion-ios-arrow-back addPadding" style="color:#ffffff">Back</a>
        <div class="spacer" style="height: 30px;"></div>
    <h3 style="color:#FFFFFF;" class="addPadding">Are you willing to live with roomates?</h3>
    <div class="spacer" style="height: 30px;"></div>
    <form class="list">
      <ion-radio name="roommates" ng-model="data.share" ng-value="&quot;yes&quot;">Yes</ion-radio>
      <ion-radio name="roommates" ng-model="data.share" ng-value="&quot;no&quot;">No</ion-radio>
      <div class="spacer" style="height: 30px;"></div>
    </form>
    <button ng-click="setSlider(3)" style="color:#FFFFFF;" class="button button-light button-small button-full button-clear">Next &gt;</button>
    <!-- <button ng-click="setSlider(1)" style="color:#FFFFFF;" class="button button-light button-small button-full button-clear">&lt; Back</button> -->
  </ion-slide-page>
  <ion-slide-page style="background-color:#FDCC99;">
  <div class="spacer" style="height: 30px;"></div>
        <a ng-click="setSlider(2)" id="iJustArrived-button28" class="button button-large button-clear icon-left ion-ios-arrow-back addPadding" style="color:#ffffff">Back</a>
        <div class="spacer" style="height: 30px;"></div>    <h3 style="color:#FFFFFF;" class="addPadding">What is your monthly budget?</h3>
    <div class="spacer" style="height: 30px;"></div>
    <form class="list">
      <label class="item item-input">
        <input type="tel" placeholder="Monthly Rent" ng-model="data.rent">
      </label>
      <div class="spacer" style="height: 30px;"></div>
    </form>
    <button ng-click="setSlider(4)" style="color:#FFFFFF;" class="button button-light button-small button-full button-clear">Next &gt;</button>
    <!-- <button ng-click="setSlider(2)" style="color:#FFFFFF;" class="button button-light button-small button-full button-clear">&lt; Back</button> -->
  </ion-slide-page>
  <ion-slide-page style="background-color:#F6F6F6;">
  <div class="spacer" style="height: 30px;"></div>
        <a ng-click="setSlider(3)" id="iJustArrived-button28" class="button button-dark button-large button-clear icon-left ion-ios-arrow-back addPadding">Back</a>
        <div class="spacer" style="height: 30px;"></div>    <h3 style="color:#272727;text-align:center;" class="addPadding">Kijijji</h3>
    <div class="spacer" style="height: 30px;"></div>
    <div class="show-list-numbers-and-dots addPadding">
      <blockquote>
        <p style="color:#000000;">Kijijji is a free website where you can buy, sell, or trade almost anything! Even your first home.</p>
        <p style="color:#000000;">Click on the link below and we'll show you some results. Go ahead and look through the posting and if you see something you like you can call and check if the flat is available.</p>
      </blockquote>
    </div>
    <form class="list">
      <div class="spacer" style="height: 30px;"></div>
      <button ng-click="openKijijji()" class="button button-calm button-large button-full icon-right ion-android-arrow-forward">Go to Kijiji!</button>
    </form>
    <!-- <button ng-click="setSlider(3)" class="button button-calm button-small button-full button-clear">&lt; Back</button> -->
  </ion-slide-page>
</ion-slides>
  </ion-content>
</ion-view>