<ion-view title="Find / Buy Essentials" id="page14" style="background-color:#F6F6F6;" ng-click="gotoCompass()">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-restaurant"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class="manual-remove-top-padding has-header">
    <div class="spacer" style="height: 100px;"></div>
    <h3 id="findBuyEssentials-heading38" style="color:#000000;text-align:center;">Find / Buy Essentials</h3>
    <div id="findBuyEssentials-markdown20" class="show-list-numbers-and-dots addPadding">
      <blockquote>
        <p style="color:#272727;">Here is a list of places nearby that you can find and buy essentials, such as food, clothes and furniture.</p>
        <p style="color:#272727;">
          <strong>We're finding more places every day</strong>, so make sure to come back and check.</p>
      </blockquote>
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <a ui-sref="directory({&quot;category&quot;:&quot;Essentials&quot;})" id="findBuyEssentials-button54" class="button button-calm button-large button-full icon-right ion-android-arrow-forward">Find Places</a>
  </ion-content>
</ion-view>