<ion-view title="Have a Question?" id="page27">
  <ion-content padding="false" class="manual-remove-top-padding has-header">
    <div class="spacer" style="height: 50px;"></div>
    <h4 id="haveAQuestion-heading45" style="color:#272727;" class="addPadding">What's your email?</h4>
    <form id="haveAQuestion-form25" class="list">
      <label class="item item-input" id="haveAQuestion-input21">
        <input type="text" placeholder="Enter email here.." ng-model="data.Qemail">
      </label>
    </form>
    <h4 id="haveAQuestion-heading46" style="color:#272727;" class="addPadding">What's your question?</h4>
    <form id="haveAQuestion-form26" class="list">
      <label class="item item-input" id="haveAQuestion-input22">
        <input type="text" placeholder="Enter question here.." ng-model="data.Question">
      </label>
    </form>
    <div class="spacer" style="height: 18px;"></div>
    <div id="haveAQuestion-markdown35" style="text-align:center;" class="show-list-numbers-and-dots addPadding">
      <p style="color:#000000;font-size:13px;">
        <strong>The more specfic question the better we can help!</strong>
      </p>
    </div>
    <div class="spacer" style="height: 18px;"></div>
    <button id="haveAQuestion-button18" ng-click="sendQuestion()" style="font-weight:600;" class="button button-positive button-full icon-right ion-android-send">Send</button>
    <div class="spacer" style="height: 18px;"></div>
    <div id="haveAQuestion-markdown36" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#686868;font-size:10px;">
        <strong>We Have Worked With</strong>
      </p>
    </div>
    <div>
      <img src="img/5tpW3fFLSg2yaKKSDN3d_Y_logo.svg" style="display: block; width: 20%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>