<ion-view title="Have a Question?" id="page26" style="background-color:#F6F6F6;">
  <ion-content padding="false" class="manual-remove-top-padding has-header">
    <div class="spacer" style="height: 50px;"></div>
    <h4 id="haveAQuestion-heading36" style="color:#272727;" class="addPadding">What's your email?</h4>
    <form id="haveAQuestion-form24" class="list">
      <label class="item item-input" id="haveAQuestion-input19">
        <input type="text" placeholder="Enter email here.." ng-model="data.Qemail">
      </label>
    </form>
    <h4 id="haveAQuestion-heading42" style="color:#272727;" class="addPadding">What's your question?</h4>
    <form id="haveAQuestion-form18" class="list">
      <label class="item item-input" id="haveAQuestion-input20">
        <input type="text" placeholder="Enter question here.." ng-model="data.Question">
      </label>
      <div class="spacer" style="height: 15px;"></div>
    </form>
    <div id="haveAQuestion-markdown31" style="text-align:center;" class="show-list-numbers-and-dots addPadding">
      <p style="color:#272727;font-size:17px;">
        <strong>The more specfic question the better we can help!</strong>
      </p>
    </div>
    <button id="haveAQuestion-button69" ng-click="sendQuestion()" style="font-weight:600;" class="button button-positive button-full icon-right ion-android-send">Send</button>
    <div class="spacer" style="height: 18px;"></div>
    <div id="haveAQuestion-markdown33" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#686868;font-size:10px;">
        <strong>We Have Worked With</strong>
      </p>
    </div>
    <div>
      <img src="img/0EbREDC9Rjwe0jXFAq0t_Y_logo.svg" style="display: block; width: 20%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>