<ion-view title="Login" hide-nav-bar="true" id="page9">
  <ion-content padding="false" class=" manual-remove-top-padding" scroll="false">
    <ion-slides disable-side-menu-drag="" options="sliderOptions" slider="slider4" delegate-handle="slider4" id="login-slider4" style="width:100%;height:100%;">
      <ion-slide-page id="login-slide22">
        <div class="spacer" style="height: 30px;"></div>
        <a ui-sref="welcome()" id="login-button22" ng-click="setSlider(0)" class="button button-positive button-large button-clear icon-left ion-ios-arrow-back addPadding">Back</a>
        <div class="spacer" style="height: 80px;"></div>
        <h3 id="login-heading15" style="color:#000000;text-align:center;" class="addPadding">Login with your phone number</h3>
        <div class="spacer" style="height: 20px;"></div>
        <div id="login-markdown9" style="text-align:center;" class="show-list-numbers-and-dots addPadding">
          <p style="color:#000000;">
            <strong>We do not store any personally identifiable information!</strong>
          </p>
        </div>
        <div class="spacer" style="height: 15px;"></div>
        <form id="login-form35" class="list">
          <label class="item item-input" id="login-input29">
            <input type="tel" placeholder="Phone #" ng-model="data.phone">
          </label>
        </form>
        <div class="spacer" style="height: 35px;"></div>
        <button id="login-button23" ng-click="setSlider(1)" style="font-weight:500;font-size:14px;" class="button button-energized button-large button-full">Next: Password</button>
      </ion-slide-page>
      <ion-slide-page id="login-slide23">
        <div class="spacer" style="height: 30px;"></div>
        <button id="login-button24" ng-click="setSlider(0)" class="button button-positive button-large button-clear icon-left ion-ios-arrow-back addPadding">Back</button>
        <div class="spacer" style="height: 80px;"></div>
        <h3 id="login-heading16" style="color:#000000;text-align:center;">Enter Password</h3>
        <div class="spacer" style="height: 35px;"></div>
        <form id="login-form36" class="list">
          <label class="item item-input" id="login-input30">
            <input type="password" placeholder="Password" ng-model="data.password">
          </label>
        </form>
        <div class="spacer" style="height: 25px;"></div>
        <button id="login-button25" ng-click="login()" style="font-weight:600;color:#345167;" class="button button-balanced button-large button-full">Login</button>
        <div class="spacer" style="height: 30px;"></div>
        <div id="login-markdown10" style="text-align:center;" class="show-list-numbers-and-dots addPadding">
          <p style="color:#000000;font-size:14px;">By using Compass, I agree to the following
            <a href="https://termsfeed.com/terms-conditions/038a591a4682ce3000200f5109fc24c9">terms &amp; conditions</a> and
            <a href="https://termsfeed.com/privacy-policy/8de4c71627ac8ea646bd9fd674bdbca5">privacy policy</a>.</p>
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>