<ion-view title="Register" hide-nav-bar="true" cache-view="false" id="page7">
  <ion-content padding="false" class=" manual-remove-top-padding" scroll="false">
    <ion-slides disable-side-menu-drag="" options="sliderOptions" slider="slider3" delegate-handle="slider3" id="register-slider3" style="width:100%;height:100%;">
      <ion-slide-page id="register-slide24">
        <div class="spacer" style="height: 30px;"></div>
        <a ui-sref="welcome()" id="register-button10" class="button button-positive button-large button-clear icon-left ion-ios-arrow-back addPadding">Back</a>
        <div class="spacer" style="height: 80px;"></div>
        <h3 id="register-heading9" style="color:#000000;text-align:center;">What city are you in?</h3>
        <div class="spacer" style="height: 35px;"></div>
        <form id="register-form27" class="list">
          <label class="item item-select" id="register-select1">
            <span class="input-label">Select</span>
            <select ng-model="data.city">
              <option>Montréal, QC</option>
              <option>Toronto, ON</option>
              <option>Ottawa, ON</option>
            </select>
          </label>
        </form>
        <div class="spacer" style="height: 35px;"></div>
        <button id="register-button11" ng-click="setSlider(1)" style="font-weight:500;font-size:14px;" class="button button-calm button-large button-full">Next: Phone Number</button>
      </ion-slide-page>
      <ion-slide-page id="register-slide210">
        <div class="spacer" style="height: 30px;"></div>
        <button id="register-button12" ng-click="setSlider(0)" class="button button-positive button-large button-clear icon-left ion-ios-arrow-back addPadding">Back</button>
        <div class="spacer" style="height: 80px;"></div>
        <h3 id="register-heading12" style="color:#000000;text-align:center;" class="addPadding">Register with your phone number</h3>
        <div class="spacer" style="height: 20px;"></div>
        <div id="register-markdown6" style="text-align:center;" class="show-list-numbers-and-dots addPadding">
          <p style="color:#000000;">
            <strong>We do not store any personally identifiable information!</strong>
          </p>
        </div>
        <div class="spacer" style="height: 15px;"></div>
        <form id="register-form28" class="list">
          <label class="item item-input" id="register-input23">
            <input type="tel" placeholder="Phone #" ng-model="data.phone">
          </label>
        </form>
        <div class="spacer" style="height: 35px;"></div>
        <button id="register-button13" ng-click="setSlider(2)" style="font-weight:500;font-size:14px;" class="button button-energized button-large button-full">Next: Password</button>
      </ion-slide-page>
      <ion-slide-page id="register-slide211">
        <div class="spacer" style="height: 30px;"></div>
        <button id="register-button17" ng-click="setSlider(1)" class="button button-positive button-large button-clear icon-left ion-ios-arrow-back addPadding">Back</button>
        <div class="spacer" style="height: 80px;"></div>
        <h3 id="register-heading14" style="color:#000000;text-align:center;">Enter Password</h3>
        <div class="spacer" style="height: 35px;"></div>
        <form id="register-form29" class="list">
          <label class="item item-input" id="register-input24">
            <input type="password" placeholder="Password" ng-model="data.password">
          </label>
        </form>
        <div class="spacer" style="height: 25px;"></div>
        <button id="register-button19" ng-click="loginRegister()" style="font-weight:600;color:#345167;" class="button button-balanced button-large button-full">Create Account</button>
        <div class="spacer" style="height: 30px;"></div>
        <div id="register-markdown8" style="text-align:center;" class="show-list-numbers-and-dots addPadding">
          <p style="color:#000000;font-size:14px;">By creating an account, I agree to the Compass
            <a href="https://termsfeed.com/terms-conditions/038a591a4682ce3000200f5109fc24c9">terms &amp; conditions</a> and
            <a href="https://termsfeed.com/privacy-policy/8de4c71627ac8ea646bd9fd674bdbca5">privacy policy</a>.</p>
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>