<ion-view title="Register" hide-nav-bar="true" id="page7">
  <ion-content padding="false" class=" manual-remove-top-padding" scroll="false">
    <ion-slides disable-side-menu-drag="" options="sliderOptions" slider="slider3" delegate-handle="slider3" id="register-slider3" style="width:100%;height:100%;">
      <ion-slide-page id="register-slide210" style="background-color:#F6F6F6;">
        <div class="spacer" style="height: 20px;"></div>
        <button id="register-button20" ng-click="gotoAccessCode()" class="button button-positive button-clear icon-left ion-ios-arrow-back addPadding">Back</button>
        <div class="spacer" style="height: 100px;"></div>
        <h3 id="register-heading12" style="color:#272727;text-align:center;" class="addPadding">What city are you in?</h3>
        <div class="spacer" style="height: 15px;"></div>
        <div id="register-markdown9" ng-repeat="err in error" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#F33232;">
            <strong>{{err}}</strong>
          </p>
        </div>
        <div class="spacer" style="height: 15px;"></div>
        <form id="register-form1" class="list">
          <label class="item item-select" id="register-select1">
            <span class="input-label">Select</span>
            <select ng-model="data.city">
              <option>Montréal, QC</option>
              <option>Toronto, ON</option>
            </select>
          </label>
        </form>
        <div class="spacer" style="height: 30px;"></div>
        <button id="register-button10" ng-click="setSlider(1)" style="font-weight:500;font-size:14px;" class="button button-calm button-large button-full">Next: Phone Number</button>
        <div class="spacer" style="height: 30px;"></div>
        <a ui-sref="selectLanguage()" id="register-button19" class="button button-positive button-small button-full button-clear">Change Language</a>
      </ion-slide-page>
      <ion-slide-page id="register-slide211" style="background-color:#F6F6F6;">
        <div class="spacer" style="height: 100px;"></div>
        <h3 id="register-heading14" style="color:#272727;text-align:center;" class="addPadding">Register with your phone number</h3>
        <div class="spacer" style="height: 15px;"></div>
        <div id="register-markdown26" style="text-align:center;" class="show-list-numbers-and-dots addPadding">
          <p style="color:#000000;">
            <strong>We do not store any personally identifiable information!</strong>
          </p>
        </div>
        <div id="register-markdown10" ng-repeat="err in error" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#F33232;">
            <strong>{{err}}</strong>
          </p>
        </div>
        <div class="spacer" style="height: 15px;"></div>
        <form id="register-form4" class="list">
          <label class="item item-input" id="register-input3">
            <input type="tel" placeholder="Phone #" ng-model="data.phone">
          </label>
        </form>
        <div class="spacer" style="height: 30px;"></div>
        <button id="register-button12" ng-click="setSlider(2)" style="font-weight:500;font-size:14px;" class="button button-energized button-large button-full">Next: Passcode</button>
        <div class="spacer" style="height: 30px;"></div>
        <button id="register-button13" ng-click="setSlider(0)" class="button button-positive button-small button-full button-clear">&lt; Back</button>
      </ion-slide-page>
      <ion-slide-page id="register-slide213" style="background-color:#F6F6F6;">
        <div class="spacer" style="height: 100px;"></div>
        <h3 id="register-heading16" style="color:#272727;text-align:center;" class="addPadding">Enter Password</h3>
        <div id="register-markdown22" ng-repeat="err in error" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#F33232;">
            <strong>{{err}}</strong>
          </p>
        </div>
        <div class="spacer" style="height: 30px;"></div>
        <form id="register-form6" class="list">
          <label class="item item-input" id="register-input5">
            <input type="password" placeholder="Passcode" ng-model="data.passcode">
          </label>
        </form>
        <div class="spacer" style="height: 28px;"></div>
        <button id="register-button11" ng-click="loginRegister()" style="font-weight:600;color:#345167;" class="button button-balanced button-large button-full">Create Account</button>
        <div class="spacer" style="height: 30px;"></div>
        <div id="register-markdown24" style="text-align:center;" class="show-list-numbers-and-dots addPadding">
          <p style="color:#000000;font-size:14px;">By creating an account, I agree to the Compass
            <a href="https://termsfeed.com/terms-conditions/038a591a4682ce3000200f5109fc24c9">terms &amp; conditions</a> and
            <a href="https://termsfeed.com/privacy-policy/8de4c71627ac8ea646bd9fd674bdbca5">privacy policy</a>.</p>
        </div>
        <div class="spacer" style="height: 15px;"></div>
        <button id="register-button17" ng-click="setSlider(1)" class="button button-positive button-small button-full button-clear">&lt; Back</button>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>