<ion-view title="{{item.title}}" style="background-color:#F6F6F6;">
  <ion-content padding="true" class="manual-remove-top-padding has-header">
    <div class="spacer" style="height: 50px;"></div>
    <ion-list class="manual-list-fullwidth">
      <ion-item class="item-icon-left" ng-show="item.finished==false" ng-click="toggleFinished()">
        <i class="icon ion-ios-circle-outline"></i>{{item.title}}</ion-item>
      <ion-item class="item-icon-left" ng-show="item.finished==true" ng-click="toggleFinished()">
        <i class="icon ion-ios-checkmark-outline"></i>{{item.title}}</ion-item>
    </ion-list>
    <div class="spacer" style="height: 30px;"></div>
    <div style="margin-right:-20px;">
      <a  ui-sref="tabsController.informationTodoTab({&quot;item&quot;:&quot;&quot;+item.name+&quot;&quot;})" style="left:-10px;font-weight:500;" class="button button-energized button-full">Directions and more!</a>
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div class="item item-body">
      <div class="show-list-numbers-and-dots">
        <blockquote>
          <pre style="font-size:14px; font-family:Helvetica Neue">{{item.info}}</pre>
        </blockquote>
      </div>
    </div>
  </ion-content>
</ion-view>


<!-- ui-sref="tabsController.information({&quot;item&quot;:&quot;&quot;+item.hashed+&quot;&quot;})" -->