<ion-view cache-view="false" title="Todos" id="page17">
	<ion-nav-buttons side="right" class="has-header">
    	<button class="button button-icon icon ion-ios-checkmark" ng-click="gotoCompleted()"></button>
    </ion-nav-buttons>
  <ion-content padding="true" class="manual-remove-top-padding has-header">
    <ion-list id="todos-list8" class="manual-list-fullwidth">
      <ion-item class="item-icon-left" id="todos-list-item82" ui-sref="tabsController.todoInfo({&quot;item&quot;:&quot;&quot;+item.key+&quot;&quot;})" ng-repeat="item in data.items" ng-show="item.finished==false">
        <i class="icon ion-ios-circle-outline"></i>{{item.title}}</ion-item>
    </ion-list>
    <div class="spacer" style="height: 100px;"></div>
    <h3 id="todos-heading23" ng-show="data.noItems==true" style="color:#000000;text-align:center;">You have no outstanding todo items.</h3>
  </ion-content>
</ion-view>


