<ion-view title="Updates" hide-nav-bar="true" id="page10">
  <ion-content padding="false" class=" manual-remove-top-padding">
    <div class="spacer" style="height: 30px;"></div>
    <a ui-sref="register({})" id="updates-button27" class="button button-positive button-large button-clear icon-left ion-ios-arrow-back addPadding">Back</a>
    <h3 id="updates-heading17" style="color:#272727;text-align:center;">{{msg}}</h3>
    <h5 id="updates-heading18" style="color:#272727;text-align:center;">Sign up and we'll keep you updated</h5>
    <div class="spacer" style="height: 40px;"></div>
    <form id="updates-form33" class="list">
      <label class="item item-input" id="updates-input27">
        <input type="text" placeholder="Enter email..." ng-model="data.email">
      </label>
      <label class="item item-input" id="updates-input28">
        <span class="input-label">City</span>
        <input type="text" placeholder="Optional..." ng-model="data.city">
      </label>
    </form>
    <div class="spacer" style="height: 30px;"></div>
    <button id="updates-button26" ng-click="signupUpdates()" class="button button-calm button-large button-full">Signup</button>
  </ion-content>
</ion-view>