<ion-view title="Welcome" hide-nav-bar="true" cache-view="false" nav-transition="none" id="page6" style="background-color:#F6F6F6;">
  <ion-content padding="false" class=" manual-remove-top-padding" scroll="false">
    <ion-slides disable-side-menu-drag="" options="sliderOptions" slider="slider2" delegate-handle="slider2" id="welcome-slider2" style="width:100%;height:100%;">
      <ion-slide-page id="welcome-slide26" style="background-color:#5897CB;">
        <div class="spacer" style="width: 320px; height: 63px;"></div>
        <h2 id="welcome-heading8" style="color:#FFFFFF;font-weight:600;text-align:center;">Welcome!</h2>
        <div class="spacer" style="height: 30px;"></div>
        <button id="welcome-button65" ng-click="showInfo(&quot;http://www.freepik.com/free-vector/hand-holding-a-mobile_815656.htm&quot;)" style="color:#FFFFFF;" class="button button-positive button-small button-clear icon-right ion-ios-information-outline info"></button>
        <div>
          <img src="img/EY4qXPtmQ0S4ZOTuafgb_99.jpg" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="height: 40px;"></div>
        <div id="welcome-markdown4" style="text-align:center;" class="show-list-numbers-and-dots addPadding">
          <p style="color:#FFFFFF;font-size:17px;">
            <strong>Compass</strong> is a simple tool to help you figure out the asylum seeking process.</p>
        </div>
        <button id="welcome-button8" ng-click="setSlider(1)" style="color:#FFFFFF;" class="button button-light button-full button-clear">Next &gt;</button>
        <a ui-sref="selectLanguage()" id="welcome-button18" ng-click="setSlider(1)" style="color:#FFFFFF;" class="button button-light button-full button-clear">Change Language</a>
      </ion-slide-page>
      <ion-slide-page id="welcome-slide25" style="background-color:#51BCB1;">
        <div class="spacer" style="width: 320px; height: 20px;"></div>
        <button id="welcome-button59" ng-click="setSlider(0)" style="color:#FFFFFF;" class="button button-light button-clear icon-left ion-ios-arrow-back addPadding">Back</button>
        <h2 id="welcome-heading10" style="color:#FFFFFF;font-weight:600;text-align:center;">Curated.</h2>
        <div class="spacer" style="height: 30px;"></div>
        <button id="welcome-button64" ng-click="showInfo(&quot;http://www.freepik.com/free-vector/social-network-communication_1063712.htm&quot;)" style="color:#FFFFFF;" class="button button-positive button-small button-clear icon-right ion-ios-information-outline info"></button>
        <div>
          <img src="img/oS6myUAESqOeFv2xVfBG_56.jpg" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="height: 50px;"></div>
        <div id="welcome-markdown3" style="text-align:center;" class="show-list-numbers-and-dots addPadding">
          <p style="color:#FFFFFF;font-size:17px;">We collect information about essentials, legal, housing, education, and health.</p>
        </div>
        <button id="welcome-button9" ng-click="setSlider(2)" style="color:#FFFFFF;" class="button button-light button-full button-clear">Next &gt;</button>
      </ion-slide-page>
      <ion-slide-page id="welcome-slide27" style="background-color:#FFFFFF;">
        <div class="spacer" style="width: 320px; height: 20px;"></div>
        <button id="welcome-button14" ng-click="setSlider(1)" style="color:#0572C1;" class="button button-positive button-clear icon-left ion-ios-arrow-back addPadding">Back</button>
        <h2 id="welcome-heading11" style="color:#345167;font-weight:600;text-align:center;">Smart.</h2>
        <button id="welcome-button61" ng-click="showInfo(&quot;http://www.freepik.com/free-photos-vectors/travel&quot;)" class="button button-positive button-small button-clear icon-right ion-ios-information-outline info"></button>
        <div>
          <img src="img/wmuxgKpRQ72jkinFunLB_364.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div id="welcome-markdown5" style="text-align:center;" class="show-list-numbers-and-dots addPadding">
          <p style="color:#345167;font-size:17px;">We create customized guides so that you
            <strong>spend less time waiting!</strong>
          </p>
        </div>
        <div class="spacer" style="height: 15px;"></div>
        <a ui-sref="accessCode({})" id="welcome-button5" style="font-weight:600;color:#0572C1;" class="button button-light button-full button-clear">Register account to continue</a>
        <a ui-sref="login({})" id="welcome-button15" style="color:#0572C1;" class="button button-light button-full button-clear">Already have an account?</a>
      </ion-slide-page>
    </ion-slides>
    <a ui-sref="tabsController.compass()" id="welcome-button21" class="button button-positive button-small button-clear icon-right ion-ios-information-outline right"></a>
  </ion-content>
</ion-view>