<ion-view title="Check Application" id="page19" style="background-color:#F6F6F6;">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-list"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-ios-close-empty" ng-click="gotoCompass()"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class="manual-remove-top-padding has-header">
    <div class="spacer" style="height: 100px;"></div>
    <h3 id="checkApplication-heading31" style="color:#000000;text-align:center;">Check Application Status</h3>
    <div class="spacer" style="height: 15px;"></div>
    <div id="checkApplication-markdown25" style="text-align:center;" class="show-list-numbers-and-dots addPadding">
      <p style="color:#272727;font-size:18px;">Below are links to the Canadian Government (CIC) website</p>
    </div>
    <div class="spacer" style="height: 15px;"></div>
    <button id="checkApplication-button38" ng-click="checkRefugee()" class="button button-calm button-large button-full icon-right ion-android-arrow-forward">Refugees</button>
    <button id="checkApplication-button39" ng-click="checkWork()" class="button button-energized button-large button-full icon-right ion-android-arrow-forward">Work Permit</button>
    <button id="checkApplication-button40" ng-click="checkStudy()" style="color:#345167;" class="button button-balanced button-large button-full icon-right ion-android-arrow-forward">Study Permit</button>
  </ion-content>
</ion-view>