<ion-view title="Todos" cache-view="false" id="page4" style="background-color:#F6F6F6;">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-ios-checkmark" ng-click="gotoCompleted()"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="manual-remove-top-padding has-header">
    <ion-list id="todos-list26" class="manual-list-fullwidth">
      <ion-item class="item-icon-left" id="todos-list-item50" ui-sref="tabsController.todoItem({&quot;item&quot;:&quot;&quot;+item.key+&quot;&quot;})" ng-repeat="item in data.items" ng-show="item.finished==false">
        <i class="icon ion-ios-circle-outline"></i>{{item.title}}</ion-item>
    </ion-list>
    <div class="spacer" style="height: 50px;"></div>
    <h1 id="todos-heading41" ng-if="data.noItems == true" style="color:#272727;text-align:center;">No outstanding Todos.</h1>
  </ion-content>
</ion-view>