<ion-view title="Completed Todos" cache-view="false" id="page22" style="background-color:#F6F6F6;">
  <ion-content padding="true" class="manual-remove-top-padding has-header">
    <ion-list id="completedTodos-list30" class="manual-list-fullwidth">
      <ion-item class="item-icon-left" id="completedTodos-list-item57" ui-sref="tabsController.todoItem({&quot;item&quot;:&quot;&quot;+item.key+&quot;&quot;})" ng-repeat="item in data.items" ng-show="item.finished==true">
        <i class="icon ion-ios-checkmark-outline"></i>{{item.title}}</ion-item>
    </ion-list>
    <div class="spacer" style="height: 50px;"></div>
  </ion-content>
</ion-view>