<ion-view title="Find Housing" id="page11">
  <ion-nav-buttons side="left" scroll="false" class="has-header">
    <button class="button button-icon icon ion-ios-home"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" scroll="false" class="has-header">
    <button class="button button-icon icon ion-ios-close-empty" ng-click="gotoCompass()"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class="manual-remove-top-padding has-header" scroll="false">
    <ion-slides disable-side-menu-drag="" options="sliderOptions" slider="slider6" delegate-handle="slider6" id="findHousing-slider6" style="width:100%;height:100%;">
      <ion-slide-page id="findHousing-slide217" style="background-color:#F6F6F6;">
        <div class="spacer" style="height: 100px;"></div>
        <h3 id="findHousing-heading29" style="color:#272727;text-align:center;">Finding Housing</h3>
        <div class="spacer" style="height: 30px;"></div>
        <div id="findHousing-markdown15" class="show-list-numbers-and-dots addPadding">
          <blockquote>
            <p style="color:#272727;font-size:16px;">In this module, we will be helping you find housing using a free website application called Kiiji.</p>
            <p style="color:#272727;font-size:16px;">In Canada, your credit history is going to determine whether you can sign a lease.
              <strong>You should start building your credit as soon as possible.</strong>
            </p>
          </blockquote>
        </div>
        <div class="spacer" style="height: 30px;"></div>
        <button id="findHousing-button44" ng-click="setSlider(1)" class="button button-calm button-small button-full button-clear">Next &gt;</button>
      </ion-slide-page>
      <ion-slide-page id="findHousing-slide218" style="background-color:#F37F81;">
        <div class="spacer" style="height: 100px;"></div>
        <h2 id="findHousing-heading30" style="color:#FFFFFF;" class="addPadding">How many bedrooms do you need?</h2>
        <div class="spacer" style="height: 30px;"></div>
        <form id="findHousing-form17" class="list">
          <label class="item item-input" id="findHousing-input14">
            <input type="tel" placeholder="# of Bedrooms" ng-model="data.bedrooms">
          </label>
          <div class="spacer" style="height: 30px;"></div>
        </form>
        <button id="findHousing-button46" ng-click="setSlider(2)" style="color:#FFFFFF;" class="button button-light button-small button-full button-clear">Next &gt;</button>
        <button id="findHousing-button47" ng-click="setSlider(0)" style="color:#FFFFFF;" class="button button-light button-small button-full button-clear">&lt; Back</button>
      </ion-slide-page>
      <ion-slide-page id="findHousing-slide220" style="background-color:#98CDCD;">
        <div class="spacer" style="height: 100px;"></div>
        <h3 id="findHousing-heading32" style="color:#FFFFFF;" class="addPadding">Are you willing to live with roomates?</h3>
        <div class="spacer" style="height: 30px;"></div>
        <form id="findHousing-form19" class="list">
          <ion-radio id="findHousing-radio23" name="roommates" ng-model="data.share" ng-value="&quot;yes&quot;">Yes</ion-radio>
          <ion-radio id="findHousing-radio24" name="roommates" ng-model="data.share" ng-value="&quot;no&quot;">No</ion-radio>
          <ion-radio id="findHousing-radio25" name="roommates" ng-model="data.share" ng-value="&quot;idk&quot;">I don't understand</ion-radio>
          <div class="spacer" style="height: 30px;"></div>
        </form>
        <button id="findHousing-button50" ng-click="setSlider(3)" style="color:#FFFFFF;" class="button button-light button-small button-full button-clear">Next &gt;</button>
        <button id="findHousing-button51" ng-click="setSlider(1)" style="color:#FFFFFF;" class="button button-light button-small button-full button-clear">&lt; Back</button>
      </ion-slide-page>
      <ion-slide-page id="findHousing-slide221" style="background-color:#FDCC99;">
        <div class="spacer" style="height: 100px;"></div>
        <h3 id="findHousing-heading33" style="color:#FFFFFF;" class="addPadding">What is your monthly budget?</h3>
        <div class="spacer" style="height: 30px;"></div>
        <form id="findHousing-form20" class="list">
          <label class="item item-input" id="findHousing-input13">
            <input type="tel" placeholder="Monthly Rent" ng-model="data.rent">
          </label>
          <div class="spacer" style="height: 30px;"></div>
        </form>
        <button id="findHousing-button52" ng-click="setSlider(4)" style="color:#FFFFFF;" class="button button-light button-small button-full button-clear">Next &gt;</button>
        <button id="findHousing-button53" ng-click="setSlider(2)" style="color:#FFFFFF;" class="button button-light button-small button-full button-clear">&lt; Back</button>
      </ion-slide-page>
      <ion-slide-page id="findHousing-slide222" style="background-color:#F6F6F6;">
        <div class="spacer" style="height: 75px;"></div>
        <h3 id="findHousing-heading34" style="color:#272727;text-align:center;" class="addPadding">Kijijji</h3>
        <div class="spacer" style="height: 30px;"></div>
        <div id="findHousing-markdown17" class="show-list-numbers-and-dots addPadding">
          <blockquote>
            <p style="color:#000000;">Kijijji is a free website where you can buy, sell, or trade almost anything! Even your first home.</p>
            <p style="color:#000000;">Click on the link below and we'll show you some results. Go ahead and look through the posting and if you see something you like you can call and check if the flat is available.</p>
          </blockquote>
        </div>
        <form id="findHousing-form21" class="list">
          <div class="spacer" style="height: 30px;"></div>
          <button id="findHousing-button56" ng-click="openKijijji()" class="button button-calm button-large button-full icon-right ion-android-arrow-forward">Go to Kijiji!</button>
        </form>
        <button id="findHousing-button55" ng-click="setSlider(3)" class="button button-calm button-small button-full button-clear">&lt; Back</button>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>