<ion-view title="Information" id="page16" style="background-color:#F6F6F6;">
  <ion-content padding="true" class="manual-remove-top-padding has-header">
    <div class="spacer" style="height: 50px;"></div>
    <ion-list id="information-list18" class="manual-list-fullwidth wrapping-list">
      <ion-item id="information-list-item43">{{item.name}}</ion-item>
    </ion-list>
    <div class="spacer" style="height: 30px;"></div>
    <ion-list id="information-list19" class="manual-list-fullwidth wrapping-list">
      <ion-item class="item-icon-left item-icon-right" id="information-list-item44" ui-sref="tabsController.map({&quot;item&quot;:&quot;&quot;+item.hashed+&quot;&quot;})">
        <i class="icon ion-map"></i>{{item.address}}
        <i class="icon ion-android-arrow-dropright icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="information-list-item45" ng-click="call({{item.phone}})">Phone:
        <span class="item-note">{{item.phone}}</span>
        <i class="icon ion-android-call icon-accessory"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 30px;"></div>
    <ion-list id="information-list20" class="manual-list-fullwidth">
      <div class="item item-body" id="information-list-item-container2">
        <div id="information-markdown21" class="show-list-numbers-and-dots">
          <blockquote>
            <p style="margin-top:0px;color:#000000;">{{item.category}}</p>
            <p style="color:#000000;">{{item.info}}</p>
          </blockquote>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>