<ion-view title="Schedule Medical Exam" id="page10">
  <ion-nav-buttons side="left" scroll="false" class="has-header">
    <button class="button button-icon icon ion-heart"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" scroll="false" class="has-header">
    <button class="button button-icon icon ion-ios-close-empty" ng-click="gotoCompass()"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class="manual-remove-top-padding has-header" scroll="false">
    <ion-slides disable-side-menu-drag="" options="sliderOptions" slider="slider5" delegate-handle="slider5" id="scheduleMedicalExam-slider5" style="width:100%;height:100%;">
      <ion-slide-page id="scheduleMedicalExam-slide24" style="background-color:#F6F6F6;">
        <div class="spacer" style="height: 100px;"></div>
        <h3 id="scheduleMedicalExam-heading23" style="color:#272727;text-align:center;">Schedule Medical Exam</h3>
        <div class="spacer" style="height: 30px;"></div>
        <div id="scheduleMedicalExam-markdown11" class="show-list-numbers-and-dots addPadding">
          <blockquote>
            <p style="color:#272727;font-size:16px;">In this module, we will be helping you schedule a medical exam.</p>
            <p style="color:#272727;font-size:16px;">By law, you have to have a medical exam within 5 days of your entry into Canada.
              <strong>Approximately 30 days after your medical exam, you will eligible to apply for your work permit.</strong>
            </p>
          </blockquote>
        </div>
        <div class="spacer" style="height: 30px;"></div>
        <button id="scheduleMedicalExam-button33" ng-click="setSlider(1)" class="button button-calm button-small button-full button-clear">Next &gt;</button>
      </ion-slide-page>
      <ion-slide-page id="scheduleMedicalExam-slide28" style="background-color:#F6F6F6;">
        <div class="spacer" style="height: 100px;"></div>
        <h3 id="scheduleMedicalExam-heading25" style="color:#272727;" class="addPadding">Here are a list of clinics where you can do your medical exam:</h3>
        <div class="spacer" style="height: 30px;"></div>
        <form id="scheduleMedicalExam-form11" class="list">
          <label class="item item-select" id="scheduleMedicalExam-select2">
            <span class="input-label">Select</span>
            <select ng-model="data.clinic" ng-options="clinic.name for clinic in clinics"></select>
          </label>
          <div class="spacer" style="height: 30px;"></div>
          <button id="scheduleMedicalExam-button41" ng-click="call()" class="button button-calm button-large button-full">Call</button>
        </form>
        <button id="scheduleMedicalExam-button34" ng-click="setSlider(2)" class="button button-calm button-small button-full button-clear">Next &gt;</button>
        <button id="scheduleMedicalExam-button35" ng-click="setSlider(0)" class="button button-calm button-small button-full button-clear">&lt; Back</button>
      </ion-slide-page>
      <ion-slide-page id="scheduleMedicalExam-slide29" style="background-color:#F6F6F6;">
        <div class="spacer" style="height: 50px;"></div>
        <h3 id="scheduleMedicalExam-heading26" style="color:#272727;" class="addPadding">Set Reminder:</h3>
        <div id="scheduleMedicalExam-markdown14" class="show-list-numbers-and-dots addPadding">
          <blockquote>
            <ul>
              <li>
                <strong>Clinic Name:</strong> {{data.clinic.name}}</li>
              <li>
                <strong>Phone:</strong> {{data.clinic.phone}}</li>
              <li>
                <strong>Address:</strong> {{data.clinic.address}}</li>
            </ul>
          </blockquote>
        </div>
        <div class="spacer" style="height: 30px;"></div>
        <form id="scheduleMedicalExam-form14" class="list">
          <label class="item item-input" id="scheduleMedicalExam-input10">
            <span class="input-label">Date:</span>
            <input type="date" placeholder="" ng-model="data.apptDate">
          </label>
          <label class="item item-input" id="scheduleMedicalExam-input11">
            <span class="input-label">Time:</span>
            <input type="time" placeholder="" ng-model="data.apptTime">
          </label>
        </form>
        <div class="spacer" style="height: 30px;"></div>
        <button id="scheduleMedicalExam-button42" ng-click="setReminder()" class="button button-calm button-large button-full icon-right ion-android-arrow-forward">Set Reminder</button>
        <button id="scheduleMedicalExam-button43" ng-click="setSlider(1)" class="button button-calm button-small button-full button-clear">&lt; Back</button>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>