<ion-view title="Study French or English" id="page18" style="background-color:#F6F6F6;" ng-click="gotoCompass()">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-easel"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class="manual-remove-top-padding has-header">
    <div class="spacer" style="height: 100px;"></div>
    <h3 id="studyFrenchOrEnglish-heading28" style="color:#000000;text-align:center;">Study French or English</h3>
    <div id="studyFrenchOrEnglish-markdown23" class="show-list-numbers-and-dots addPadding">
      <blockquote>
        <p style="color:#272727;">You can start studying French or English
          <strong>as soon as you have a stable place to live</strong>
        </p>
        <p style="color:#272727;">Here is a list of places where you can take French and English courses. </p>
      </blockquote>
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <a ui-sref="tabsController.directory({&quot;category&quot;:&quot;Education&quot;})" id="studyFrenchOrEnglish-button37" class="button button-calm button-large button-full icon-right ion-android-arrow-forward">Find Courses</a>
  </ion-content>
</ion-view>