<ion-view title="Updates" hide-nav-bar="true" id="page23" style="background-color:#F6F6F6;">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
    <div class="spacer" style="height: 100px;"></div>
    <h3 id="updates-heading27" style="color:#272727;text-align:center;" class="addPadding">{{msg}}</h3>
    <h5 id="updates-heading35" style="color:#272727;text-align:center;" class="addPadding">Sign up and we'll keep you updated.</h5>
    <div class="spacer" style="height: 15px;"></div>
    <div id="updates-markdown16" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#F33232;">
        <strong>{{error}}</strong>
      </p>
    </div>
    <div class="spacer" style="height: 15px;"></div>
    <form id="updates-form16" class="list">
      <label class="item item-input" id="updates-input16">
        <input type="text" placeholder="Email" ng-model="data.email">
      </label>
      <label class="item item-input" id="updates-input17">
        <span class="input-label">City</span>
        <input type="text" placeholder="Optional" ng-model="data.city">
      </label>
    </form>
    <div class="spacer" style="height: 30px;"></div>
    <button id="updates-button36" ng-click="signupUpdates()" class="button button-calm button-large button-full">Signup</button>
    <a ui-sref="register({&quot;city&quot;:&quot;&quot;+params.city+&quot;&quot;,&quot;phone&quot;:&quot;&quot;+params.phone+&quot;&quot;,&quot;share&quot;:&quot;&quot;+params.share+&quot;&quot;})" id="updates-button49" class="button button-positive button-small button-full button-clear">Back</a>
  </ion-content>
</ion-view>